html,
button,
input,
select,
textarea {
    color: #B3B3B3;
    font-family: Muli,AppleGothic,Futura,sans-serif;
    font-weight: 300;
}

body {
    font-size: 100%;
    line-height: 1.4;
}

::-moz-selection {
    color: #ffffff;
    background: #0071cf;
    text-shadow: none;
}

::selection {
    color: #ffffff;
    background: #0071cf;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    /*overflow: hidden;*/
    height:100%;
}
h1,h2,h3{
    text-transform: uppercase;
}
header{
}
header h1{
    position: fixed;
    text-indent:-9999px;
}
h1{
    font-size: 75%;
}
h2{
    font-size: 100%;
}
strong{
    font-size: 300%;
    margin: 0;
    line-height: 1;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}
.direction{
    position: fixed;
    left: 0;
    top: 50%;
    margin-left: 10px;
    margin-top: -72px;
    height: 144px;
    text-indent:-9999px;
}
.ascensorLinkNext{
    width: 61px;
    height: 22px;
    background-image: url("../img/icons.png");
    background-position: -49px -187px;
}
.button-menu{
    width: 36px;
    height: 33px;
    background-image: url("../img/icons.png");
    background-position: 0 -182px;
    margin: 40px auto;
}
.ascensorLinkPrev{
    width: 26px;
    height: 9px;
    background-image: url("../img/icons.png");
    background-position: -125px -185px;
    margin: 6px auto 0;
    background-repeat: no-repeat;
}
.ascensorLinkActive{
    background-color: #fff;
}
.container {
    min-height:100%;
}
section{
    overflow: auto;
}
section .content{
    padding: 2em 0 2em 8em;
    width: 30em;
    height: auto;
    float: left;
}
.content.content-second {
    padding: 4em;
    background-color: #5C5C5C;
    margin: 0 2em;
    min-height: 100%;
}
article{
    padding: 20px;
}
.portfolio article{
    margin-left: 10px;
}
.home{
    color: #ffffff;
    background: #0071cf url("../img/home.jpg") no-repeat scroll;
    background-size: cover;
}
.home .logo{
    cursor: pointer;
    width: 312px;
    height: 229px;
    top: 50%;
    margin-top: -150px;
    position: absolute;
    background:transparent url("../img/logo-big.png") no-repeat scroll;
}
.vision strong{
    color: #22BD0D;
}
.icon{
    height: 90px;
    width: 90px;
    position: absolute;
    left: -2px;
    margin-top: 9px;
}
.vision .icon{
    background-image: url("../img/icons.png");
    background-position: -75px -90px;
}
.portfolio .icon{
    background-image: url("../img/icons.png");
    background-position: -155px -90px;
}
.about .icon{
    background-image: url("../img/icons.png");
    background-position: -235px -90px;
}
.contact .icon{
    background-image: url("../img/icons.png");
    background-position: -315px -90px;
}
.portfolio strong{
    color: #FFC800;
}
.about strong{
    color: #FF6E00;
}
.contact strong{
    color: #FF1C36;
}
/* Preloader */
#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#0071CF; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}
#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
.profile {
    margin: 0;
    width: 240px;
    float: left;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);

}
.profile.active {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
.vision p{
    display: none;
}
.vision h2{
    cursor: pointer;
}
/* Contact Adriel */
.contact{
    background:#B3B3B3;
    color:#fff;
    position:relative;
}
.contact .content{
    position:absolute;
    top:'0'px;
    left:0px;
    z-index:20;
}
#map-container{
    width: 100%;
    height: 100%;
    position:relative;
    z-index:0;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
#map-container-2{
    position:absolute;
    right:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}
#map{
    width: 100%;
    height: 100%;
}
#ampliar{
    width:100%;
    height:100%;
    position:absolute;
    top:10%;
    right:-50%;
    background:transparent;
    z-index:20;
    border-radius:100%;
}
#triangulo{
    position:absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1200px 1500px 0 0;
    border-color: #b3b3b3 transparent transparent transparent;
    top:0;
    left:0;
    z-index:5;
}
/* ==========================================================================
   Style Menu
   ========================================================================== */

nav ul{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f1f1f1;
    padding-left: 85px;
}
nav li{
    height: 90px;
    margin: 0;
    width: 90px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    float: left;
}
.cbp-spmenu {
    position: fixed;
}
.cbp-spmenu a {
    display: block;
    color: #ccc;
    font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
} 
.cbp-spmenu-left ul{
    margin-top:0;

}
.cbp-spmenu a:active {
}
.ascensorLinkNext:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding-top: 5px;
    background-position-y: -183px;
}
.ascensorLinkPrev:hover{
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    transition: all 0 ease;
    margin-top: 4px;
    padding-bottom: 2px;
}

/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    width: auto;
    height: 90px;
    margin-top: -45px;
    top: 50%;
    z-index: 30;
}
 
.cbp-spmenu-vertical ul a {
    height: 100%;
}
 
/* Vertical menu that slides from the left */

.cbp-spmenu-left {
    left: -578px;
} 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
    border-right: 5px solid rgba(0, 0, 0, 0.12);
}
 
.cbp-spmenu-left.cbp-spmenu-hover {
    left: -571px;
}

/* Push classes applied to the body */
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    right: 0;
}
 
.cbp-spmenu-push-toleft {
    right: 240px;
}
.ascensorLink{
    background-image: url("../img/icons.png");
}
.ascensorLink0 {
    background-position: 7px 0;
}
.ascensorLink0:hover {
    background-position: 7px -90px;
}
.ascensorLink1 {
    background-position: -75px 0;
}
.ascensorLink1:hover {
    background-position: -75px -90px;
}
.ascensorLink2 {
    background-position: -155px 0;
}
.ascensorLink2:hover {
    background-position: -155px -90px;
}
.ascensorLink3 {
    background-position: -235px 0;
}
.ascensorLink3:hover {
    background-position: -235px -90px;
}
.ascensorLink4 {
    background-position: -315px 0;
}
.ascensorLink4:hover {
    background-position: -315px -90px;
}
.buttom-home:hover {
    background-position: 0 -90px;
}

/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*Slider Portfolio*/
.portfolio .content{
    width:40%;
    padding-right:0;
}
.ps-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ps-container .ps-contentwrapper,
.ps-container .ps-slidewrapper {
    position: absolute;
    width: 50%;
}
.content > div > div,
.ps-slidewrapper > nav,
.ps-slides > div {
    position: absolute;
}
.ps-contentwrapper {
    bottom: 0px;
    overflow: hidden;
    height:40%;
    bottom:0;
}
.ps-content {
    width: 50%;
    height: 100%;
    position:relative;
}
.ps-content span.ps-price {
    float: left;
    margin: 10px;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    color: #fff;
    background: #f7cfc6;
    background: rgba(247,197,185,0.8);
    font-size: 55px;
    font-weight: 200;
}
.ps-content a:last-child {
    font-size: 14px;
    font-weight: 700;
    color: #555;
    letter-spacing: 4px;
    float: right;
    border: 3px solid #555;
    padding: 3px;
    text-indent: 4px;
}
.no-touch .ps-content a:last-child:hover {
    color: #b2d79d;
    border-color: #b2d79d;
}
.ps-content a:last-child:before {
    content: '\53';
    font-family: 'icon';
    font-style: normal;
    font-weight: normal;
    speak: none;
    padding-right: 5px;
}
.ps-slidewrapper {
    right: 0px;
    top: 0px;
    height: 100%;
    overflow: hidden;
}
.ps-slides {
    top: 0px;
    bottom: 200px;
    width: 100%;
}
.ps-slides > div {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
}
.ps-slidewrapper > nav {
    width: 100%;
    height: 200px;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
}
.ps-slidewrapper > nav > a {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    box-shadow: inset 0 0 0 9999px rgba(197, 197, 197, 0.8);
    outline: none;
}
.ps-slidewrapper > nav > a:first-child {
    box-shadow: inset 0 0 0 9999px rgba(255, 235, 139, 0.8);
}
.no-touch .ps-slidewrapper > nav > a {
    -webkit-transition: box-shadow 0.4s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out;
    -ms-transition: box-shadow 0.4s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
    background-size: cover;
}
.no-touch .ps-slidewrapper > nav > a:hover {
    box-shadow: inset 0 0 0 9999px rgba(246,224,121,0.1);
}
.no-touch .ps-slidewrapper > nav > a:first-child:hover {
    box-shadow: inset 0 0 0 9999px rgba(249,15,15,0.1);
}
.ps-slidewrapper > nav > a:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
.ps-slidewrapper > nav > a:first-child:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin: -80px 0 0 -50px;
}
.ps-slides > div,
.ps-slidewrapper > nav > a {
    background-color: #fff;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
}
.ps-slides div{
    min-height:200px;
    background-size: cover;
}
.ps-move {
    -webkit-transition: top 400ms ease-out;
    -moz-transition: top 400ms ease-out;
    -o-transition: top 400ms ease-out;
    -ms-transition: top 400ms ease-out;
    transition: top 400ms ease-out;
}
 
/* ==========================================================================
   Media Queries
   ========================================================================== */
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left {
        left: -175px;
    }
 
    .cbp-spmenu-push-toleft {
        right: 190px;
    }
}
@media screen and (max-height: 600px){
    .ps-container .ps-slidewrapper nav{
        height:50px;
    }
    .ps-container .ps-slidewrapper{
        height:250px;
    }
}
@media screen and (min-height: 600px){
    .ps-container .ps-slidewrapper{
        height:400px;
    }
}
@media only screen and (max-width: 1000px) {
    strong{
        font-size:200%;
    }
    .portfolio .content{
        width:30%;
    }
    #triangulo{
        border-width: 1000px 1000px 0 0;
    }
}
@media screen and (min-width: 860px) {
    .ps-container .ps-slidewrapper{
        height:100%;
    }
}
@media screen and (max-width: 860px) {
    .ps-container .ps-slidewrapper{
        width:100%;
        position:0;
        bottom:0;
        top:auto;
    }
    .js .ps-slides{
        top:0;
    }
    .portfolio p, .ps-content h2{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    .direction{
        top:90px;
        bottom:0;
		height:100%;
        margin:0;
        z-index:30;
        left:0;
        width:100%;
        margin:0;
    }
    nav ul{
        padding:0;
    }
    nav li{
        width:20%;
    }
    .cbp-spmenu li a{
        width:90px;
        margin:0 auto;
    }
    .cbp-spmenu{
        position:static;
    }
    .cbp-spmenu-vertical {
        margin-top: 0;
    }
    .cbp-spmenu-left ul{
        left: 0;
        margin-top:-90px;
        transition: margin-top .5s;
        -webkit-transition: margin-top .5s;
    }
    .cbp-spmenu .ascensorLinkNext,.cbp-spmenu .ascensorLinkPrev{
        position:absolute;
        left:50%;
    }
    .cbp-spmenu #showMenu{
		left:10px;        
		top:-110px;
        position:absolute;   
        transition: top .5s;
        -webkit-transition: top .5s;
    }
    .cbp-spmenu .ascensorLinkNext{
        margin-left: -30px;
        bottom: 100px;
    }
    .cbp-spmenu .ascensorLinkPrev{
        margin-left:-11px;
        top:-70px;   
        transition: top .5s;
        -webkit-transition: top .5s;
    }
    section .content{
        padding-left:80px;
    }
    .content strong{
        font-size:150%;
    }
    .portfolio .content{
        width:90%;
    }
    #map-container{
        display:none;
    }
    .cbp-spmenu-left.cbp-spmenu-open {
    border-right: 0;
    }
}
@media only screen and (max-width: 480px) {
    section .content .icon{
        display:none;
    }
    section .content{
        padding:80px 8% 30px 15px;
    }
    .home .logo{
        background-size:80%;
    }
    .js .ps-slides{
        top:0;
        bottom:50px;
    }
    .ps-slides div{
        max-height:200px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
