html,
button,
input,
select,
textarea {
    color: #B3B3B3;
    font-family: Muli,AppleGothic,Futura,sans-serif;
    font-weight: 300;
}

body {
    font-size: 100%;
    line-height: 1.4;
}

::-moz-selection {
    color: #ffffff;
    background: #0071cf;
    text-shadow: none;
}

::selection {
    color: #ffffff;
    background: #0071cf;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    overflow: hidden;
    height:100%;
    overflow-y:hidden;
}
h1,h2,h3{
    text-transform: uppercase;
}
header{
}
header h1{
    position: fixed;
    text-indent:-9999px;
}
h1{
    font-size: 75%;
}
h2{
    font-size: 100%;
}
strong{
    font-size: 300%;
    margin: 0;
    line-height: 1;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}
.direction{
    position: fixed;
    left: 0;
    top: 50%;
    margin-left: 10px;
    margin-top: -72px;
    height: 144px;
    text-indent:-9999px;
}
.ascensorLinkNext{
    width: 61px;
    height: 22px;
    background-image: url("../img/icons.png");
    background-position: -49px -187px;
}
.button-menu{
    width: 36px;
    height: 33px;
    background-image: url("../img/icons.png");
    background-position: 0 -182px;
    margin: 40px auto;
}
.ascensorLinkPrev{
    width: 26px;
    height: 9px;
    background-image: url("../img/icons.png");
    background-position: -125px -185px;
    margin: 6px auto 0;
    background-repeat: no-repeat;
}
.ascensorLinkActive{
    background-color: #fff;
}
.container {
    min-height:100%;
}
section{
    overflow: auto;
}
.content{
    position: relative;
    float: left;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
.column1 {
    width: 40em;
    padding-left: 5em;
}
.column2{
    color: #fff;
    width: -webkit-calc(100% - 40em);
    width: -moz-calc(100% - 40em);
    width: calc(100% - 40em);
}
.text{
    max-width: 31em;
    padding: 2em;
    float: left;
}
/* ICONOS DE CADA SECCIÓN (NO MENU) */
.icon{
    height: 90px;
    width: 90px;
    position: absolute;
    left: -2px;
    margin-top: 9px;
}
.vision .icon{
    background-image: url("../img/icons.png");
    background-position: -75px -90px;
}
.portfolio .icon{
    background-image: url("../img/icons.png");
    background-position: -155px -90px;
}
.about .icon{
    background-image: url("../img/icons.png");
    background-position: -235px -90px;
}
.contact .icon{
    background-image: url("../img/icons.png");
    background-position: -315px -90px;
}
article{
    padding: 20px;
}

.portfolio article{
    margin-left: 10px;
}
/* PARTICULARIDADES DE CADA SECCIÓN */
.home{
    color: #ffffff;
    background: #0071cf url("../img/home.jpg") no-repeat scroll;
    background-size: cover;
}
.home .column1 {
    background-color: transparent;
}
.home strong{
    font-size: 4em;
    margin-top: 30px;
    display: block;
}
.home .logo{
    cursor: pointer;
    width: 150px;
    height: 38px;
    margin: 20px 0;
    background:transparent url("../img/logo-big.png") no-repeat scroll;
}
.vision .column2{
    background-color: #22BD0D;
    display: none;
}
.vision strong{
    color: #22BD0D;
}
.portfolio .column2{
    background-color: #FFC800;
}
.portfolio strong{
    color: #FFC800;
}
.about .column2{
    background-color: #FF6E00;
    display: none;
}
.about strong{
    color: #FF6E00;
}
.about .column2 strong {
    color: #fff;
}
.contact {
    background-color: #FF1C36;
}
.contact strong{
    color: #FF1C36;
}
/* Preloader */
#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#0071CF; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}
#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */

}
/* Vision */
.vision{
    background:transparent url("../img/vision.png") no-repeat scroll;
    background-position: right bottom;
}
.vision p{
    display: none;
}
.vision h2{
    cursor: pointer;
}
/* About us */
.about{
    background:transparent url("../img/about.png") no-repeat scroll;
    background-position: right bottom;
	background-size:contain
}
.equipe{
    margin-top: 20px;
	float:left;
}
.profile {
    margin: 0;
    float: left;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    display: block;
    overflow: hidden;
    -webkit-transition: border-color 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: border-color 0.5s ease-out;  /* Firefox 4-15 */
    -o-transition: border-color 0.5s ease-out;  /* Opera 10.50–12.00 */
    transition: border-color 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.profile:hover {
    width: 230px;
    height: 230px;
    border: 5px solid #fff;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);

}
.profile-active {
    width: 230px;
    height: 230px;
    border: 5px solid #FF6E00;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
.profile-active:hover {
    cursor: default;
    border: 5px solid #FF6E00;
}
.profile img{
    display: block;
}
.profile:hover img{
    margin: -5px 0 0 -5px;
}
.profile-active img{
    margin: -5px 0 0 -5px;
}
.profile-info-close{
    background-color: #000;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    top:10px;
    right: 10px;
}
/* Contact Adriel */
.contact{
    background:#B3B3B3;
    color:#fff;
    position:relative;
}
.contact .content{
    position:absolute;
    top:'0'px;
    left:0px;
    z-index:20;
}
#map-container{
    width: 100%;
    height: 100%;
    position:relative;
    z-index:0;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
#map-container-2{
    position:absolute;
    right:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}
#map-canvas{
    width: 100%;
    height: 100%;
}
#ampliar{
    width:100%;
    height:100%;
    position:absolute;
    top:10%;
    right:-50%;
    background:transparent;
    z-index:20;
    border-radius:100%;
}
#triangulo{
    position:absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1200px 1500px 0 0;
    border-color: #b3b3b3 transparent transparent transparent;
    top:0;
    left:0;
    z-index:5;
}
/* ==========================================================================
   Style Menu
   ========================================================================== */

nav ul{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f1f1f1;
    padding-left: 85px;
}
nav li{
    height: 90px;
    margin: 0;
    width: 90px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    float: left;
}
.cbp-spmenu {
    position: fixed;
}
.cbp-spmenu a {
    display: block;
    color: #ccc;
    font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
} 
.cbp-spmenu-left ul{
    margin-top:0;

}
.cbp-spmenu a:active {
}
.ascensorLinkNext:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding-top: 5px;
    background-position-y: -183px;
}
.ascensorLinkPrev:hover{
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    transition: all 0 ease;
    margin-top: 4px;
    padding-bottom: 2px;
}

/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    width: auto;
    height: 90px;
    margin-top: -45px;
    top: 50%;
    z-index: 30;
}
 
.cbp-spmenu-vertical ul a {
    height: 100%;
}
 
/* Vertical menu that slides from the left */

.cbp-spmenu-left {
    left: -578px;
} 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
    border-right: 5px solid rgba(0, 0, 0, 0.12);
}
 
.cbp-spmenu-left.cbp-spmenu-hover {
    left: -571px;
}

/* Push classes applied to the body */
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    right: 0;
}
 
.cbp-spmenu-push-toleft {
    right: 240px;
}
.ascensorLink{
    background-image: url("../img/icons.png");
}
.ascensorLink0 {
    background-position: 7px 0;
}
.ascensorLink0:hover {
    background-position: 7px -90px;
}
.ascensorLink1 {
    background-position: -75px 0;
}
.ascensorLink1:hover {
    background-position: -75px -90px;
}
.ascensorLink2 {
    background-position: -155px 0;
}
.ascensorLink2:hover {
    background-position: -155px -90px;
}
.ascensorLink3 {
    background-position: -235px 0;
}
.ascensorLink3:hover {
    background-position: -235px -90px;
}
.ascensorLink4 {
    background-position: -315px 0;
}
.ascensorLink4:hover {
    background-position: -315px -90px;
}
.buttom-home:hover {
    background-position: 0 -90px;
}

/* Transitions */
.trabajo1,
.trabajo2,
.trabajo3,
.trabajo4,
.trabajo5,
.trabajo6,
.trabajo7,
.trabajo8,
.trabajo9,
.trabajo10,
.trabajo11,
.trabajo12{
    display:none;
}
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*portfolio*/
.portfolio{
    position:relative;
    overflow: inherit;
}
.portfolio div h2{
    font-style:italic;
    margin-top:30px;
}
#grid_porfolio{
    margin:0;
    padding:0;
}
.left_grid{
    position:relative;
    display:block;
    width:33.3333%;
    height:33.3333%;
    float:left;
    margin:0;
    padding:16.3% 0;
    background-size:auto 100%;
    background-position:center;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.left_gridx2{
    width:66.666%;
}
.set1,.set2{
    height:100%;
    position:absolute;
    top:0;
    right:0;
    width:100%;
    max-width:100%;
}
.set2{
    display:none;
}
.control_portfolio{
    background-image:url('../img/flecha_portfolio.png');
    background-position:100% center;
    background-repeat:no-repeat;
    background-size:200% 100%;
    transition:background-color .3s, background-position .3s;
}
.control_portfolio:hover{
    background-position:0 center;
    background-color:#FFC800
}
#ant_portfolio{
    transform: rotate(180deg);
}
/*animacion hover imagenes*/
.left_grid span{
    text-transform:uppercase;
    color:rgba(255,255,255,0);
    position:absolute;
    width:0;
    height:100%;
    top:0;
    left:0;
    padding:15px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background-color:rgba(0,0,0,0);
    transition:background-color .3s,color .8s, width .3s ease-out;
}
.left_gridx2 span{
    top:30%;
    left:10px;
    width:90%;
    background:transparent;
    color:#000;
    font-style:italic;
}
.left_grid:hover{
    cursor:pointer;
}
.left_grid:hover span{
    width:100%;
    background-color:rgba(0,0,0,.5);
    color:rgba(255,255,255,1);
}
.left_gridx2:hover span{
    width:auto;
    background-color:rgba(0,0,0,0);
    color:#000;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
    }
 
    .cbp-spmenu-left {
        left: -175px;
    }
 
    .cbp-spmenu-push-toleft {
        right: 190px;
    }
}
@media only screen and (max-width: 1000px) {
    strong{
        font-size:200%;
    }
    .portfolio .content{
        width:30%;
    }
    #triangulo{
        border-width: 1000px 1000px 0 0;
    }
}
@media screen and (max-width : 75em){
  	.content{
		height: auto;
		min-height: 0;
		width: 100%;
	}
	.column2{
		padding-left: 5em;
	}
}
@media only screen and (max-width: 40em) {
    .column1{
		padding-left: 0;
	}
	.direction{
        top:90px;
        bottom:0;
        margin:0;
        z-index:30;
        left:0;
        width:100%;
        margin:0;
		height:0;
    }
    nav ul{
        padding:0;
    }
    nav li{
        width:20%;
    }
    .cbp-spmenu li a{
        width:100%;
        margin:0 auto;
    }
    .cbp-spmenu{
        position:static;
    }
    .cbp-spmenu-vertical {
        margin-top: 0;
    }
    .cbp-spmenu-left ul{
        left: 0;
        margin-top:-90px;
        transition: margin-top .5s;
        -webkit-transition: margin-top .5s;
    }
    .cbp-spmenu .ascensorLinkNext,.cbp-spmenu .ascensorLinkPrev{
        position:absolute;
        left:50%;
    }
    .cbp-spmenu #showMenu{
		left:10px;        
		top:-110px;
        position:absolute;   
        transition: top .5s;
        -webkit-transition: top .5s;
    }
    .cbp-spmenu .ascensorLinkNext{
        margin-left: -30px;
        bottom: 20px;
        position: fixed;
    }
    .cbp-spmenu .ascensorLinkPrev{
        margin-left:-21px;
        top:-70px;   
        transition: top .5s;
        -webkit-transition: top .5s;
    }
    .ascensorLink {
        width: 100%;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .ascensorLink0{
        background-image: url("../img/icon-home.png");
    }
    .ascensorLink1{
        background-image: url("../img/icon-vision.png");
    }
    .ascensorLink2{
        background-image: url("../img/icon-portfolio.png");
    }
    .ascensorLink3{
        background-image: url("../img/icon-about.png");
    }
    .ascensorLink4{
        background-image: url("../img/icon-contact.png");
    }
    .ascensorLink:hover {
        background-position: center center;
    }
    .content strong{
        font-size:150%;
    }
    .portfolio .content{
        width:90%;
    }
    #map-container{
        display:none;
    }
    .cbp-spmenu-left.cbp-spmenu-open {
    border-right: 0;
    }
    .content .icon{
        display:none;
    }
    .content{
        padding: 0;
    }
	.text {
		padding-top:4em;
	}
    .home .logo{
        background-size:80%;
    }
    .js .ps-slides{
        top:0;
        bottom:50px;
    }
    .ps-slides div{
        max-height:200px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}